<kendo-appbar position="top">
    <kendo-appbar-section>
      <h1 class="title">Office and Parking Booking System</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

    <kendo-appbar-section>
      <ul>
        <li><a routerLink="/officebooking" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Booking View Table</span></a></li>
        <li><a routerLink="/parkingspot" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Parking View Table</span></a></li>
        <li><a routerLink="/bookingcreation" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Booking Creation Form</span></a></li>
      </ul>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>
  </kendo-appbar>